@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Ubuntu:300,400,700");
/* line 5, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../scss/_main-style.scss */
* {
  box-sizing: border-box;
}

/* line 6, ../scss/_main-style.scss */
html {
  font-size: 16px;
}

/* line 10, ../scss/_main-style.scss */
body {
  font-size: 1rem;
  line-height: 1.5rem;
}

/* line 18, ../scss/_main-style.scss */
.pageContainer {
  background: #272822;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* line 29, ../scss/_main-style.scss */
.cardMask {
  height: 0;
  opacity: 0;
  visibility: hidden;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}
/* line 36, ../scss/_main-style.scss */
.cardMask.openCard {
  height: 100%;
  opacity: 1;
  visibility: visible;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

/* line 45, ../scss/_main-style.scss */
.quoteCardContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 960px;
  width: 100%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
@media screen and (max-width: 1000px) {
  /* line 45, ../scss/_main-style.scss */
  .quoteCardContainer {
    width: 80%;
  }
}
/* line 61, ../scss/_main-style.scss */
.quoteCardContainer.blue {
  color: #3da3ef;
}
/* line 65, ../scss/_main-style.scss */
.quoteCardContainer.pink {
  color: #f92672;
}
/* line 69, ../scss/_main-style.scss */
.quoteCardContainer.purple {
  color: #ae81ff;
}
/* line 73, ../scss/_main-style.scss */
.quoteCardContainer.orange {
  color: #fd971f;
}
/* line 77, ../scss/_main-style.scss */
.quoteCardContainer.green {
  color: #a5e12d;
}
/* line 82, ../scss/_main-style.scss */
.quoteCardContainer:hover .socialMediaShareButtonsContainer {
  top: -1.5rem;
  z-index: 10;
  visibility: visible;
  opacity: 1;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
/* line 93, ../scss/_main-style.scss */
.quoteCardContainer .carouselNavigation-previous {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  cursor: pointer;
}
/* line 105, ../scss/_main-style.scss */
.quoteCardContainer .carouselNavigation-previous:hover .navArrowContainer {
  opacity: 1;
}
/* line 110, ../scss/_main-style.scss */
.quoteCardContainer .carouselNavigation-previous .navArrowContainer .fa {
  left: 1.5rem;
}
/* line 115, ../scss/_main-style.scss */
.quoteCardContainer .carouselNavigation-next {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: inline-block;
  width: 50%;
  height: 100%;
  cursor: pointer;
}
/* line 127, ../scss/_main-style.scss */
.quoteCardContainer .carouselNavigation-next:hover .navArrowContainer {
  opacity: 1;
}
/* line 132, ../scss/_main-style.scss */
.quoteCardContainer .carouselNavigation-next .navArrowContainer .fa {
  right: 1.5rem;
}
/* line 137, ../scss/_main-style.scss */
.quoteCardContainer .navArrowContainer {
  color: #fff;
  opacity: 0.8;
  height: 100%;
  font-size: 1.5rem;
}
/* line 142, ../scss/_main-style.scss */
.quoteCardContainer .navArrowContainer .fa {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 151, ../scss/_main-style.scss */
.quoteCardContainer .quoteContainer {
  width: 80%;
  margin: 0 auto;
}
/* line 155, ../scss/_main-style.scss */
.quoteCardContainer .quoteContainer .quote {
  width: 100%;
  padding: 4.5rem 3rem 3rem;
}
/* line 159, ../scss/_main-style.scss */
.quoteCardContainer .quoteContainer .quote .quoteContent {
  margin-bottom: 1.5rem;
  color: inherit;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.5;
}
/* line 168, ../scss/_main-style.scss */
.quoteCardContainer .quoteContainer .quote .quoteAuthor {
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  text-align: right;
}
/* line 177, ../scss/_main-style.scss */
.quoteCardContainer .quote {
  display: inline-block;
}

/* line 183, ../scss/_main-style.scss */
.socialMediaShareButtonsContainer {
  position: absolute;
  top: 1.5rem;
  right: 0;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
