

* {
  box-sizing: border-box;
}
html{
  font-size: 16px;

}
body{
	font-size: $fs;
	line-height: $lh;
	
}



.pageContainer {
	background: $black;
	width: 100%;
	height: 100%;
	
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.cardMask {
	height: 0;
	opacity: 0;
	visibility: hidden;
	@include transition(all 1s linear);

	
	&.openCard {
		height: 100%;
		opacity: 1;
		visibility: visible;
		@include transition(all 1s linear);
	}
}


.quoteCardContainer {
	position: absolute;
	top: 50%;
	left: 50%;

	@include  transform(translate(-50%, -50%));
	max-width: 960px;
	
	width: 100%;
	@include border-radius(5px);

	@media screen and (max-width: 1000px) {
		width: 80%;
	}

	
	&.blue {
		color: $blue;
		
	}
	&.pink{
		color: $pink;
		
	}
	&.purple{
		color: $purple;
		
	}
	&.orange{
		color: $orange;
		
	}
	&.green{
		color: $green;
		
	}
	&:hover { 
		.socialMediaShareButtonsContainer {
			top: -$lh;
			z-index: 10;
			visibility: visible;
			opacity: 1;
			@include transition(all 1s ease-in-out);
		}
	}



	.carouselNavigation-previous {
		position: absolute;
		top   : 0;
		left  : 0;
		bottom: 0;

		display: inline-block;
		width  : 20%;
		height : 100%;

		cursor: pointer;
		&:hover {
			.navArrowContainer {
				opacity: 1;
			}
		}
		.navArrowContainer {
			.fa {
				left: $lh;
			}
		}
	}
	.carouselNavigation-next {
		position: absolute;
		top   : 0;
		right : 0;
		bottom: 0;

		display: inline-block;
		width  : 50%;
		height : 100%;

		cursor: pointer;
		&:hover {
			.navArrowContainer {
				opacity: 1;
			}
		}
		.navArrowContainer {
			.fa {
				right: $lh;
			}
		}
	}
	.navArrowContainer {
		color: $white;
		opacity: 0.8;
		height: 100%;
		font-size: $lh;
		.fa {
			position: absolute;
			top: 50%;
			@include transform(translateY(-50%));
		}
	}



	.quoteContainer {
		width: 80%;
		margin: 0 auto;
		
		.quote {
			width: 100%;
			padding: $lh*3 $lh*2 $lh*2;

			.quoteContent {
				margin-bottom: $lh;

				color: inherit;
				font-family: $ff-ubuntu;
				font-weight: 700;
				font-size: 26px;
				line-height: 1.5;
			}
			.quoteAuthor {
				color: $white;
				font-family: $ff-ubuntu;
				text-align: right;
			}
		}
	}


	.quote {

		display: inline-block;
	}
}

.socialMediaShareButtonsContainer {
	position: absolute;
	top: $lh;
	right: 0;

	z-index: -1;
	visibility: hidden;
	opacity: 0;
	@include transition(all 1s ease-in-out);

}