
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Ubuntu:300,400,700');


$fs: 1rem;
$lh: $fs*1.5;
$ff-amatic: 'Amatic SC', cursive;
$ff-ubuntu:'Ubuntu', sans-serif;


// COLOR pallete
// brand colors:
$blue  : #3da3ef;
$pink  : #f92672;
$purple: #ae81ff;
$orange: #fd971f;
$green : #a5e12d;


// secondary colors: 
$white: #fff;
$black: #272822;